.list-group-item .datepicker-inline {
    width: 100%;
}

.list-group-item .datepicker-inline table {
    width: 100%;
}

.datepicker .datepicker-switch {
    color: #ffffff;
}

.datepicker .prev {
    color: #ffffff;
}

.datepicker .next {
    color: #ffffff;
}

.datepicker .dow {
    color: #ffffff;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.datepicker .day .circle {
    border: 2px solid transparent;
    border-radius: 15px;
    width: 30px;
    text-align: center;
    height: 30px;
    margin: 0 auto;
    color: #fff;
    padding-top: 4px;
}

.datepicker .day.old .circle, .day.new .circle {
    color: #666666;
}

.datepicker .day.active .circle {
    border: 2px solid #36cd36;
}

.calender .activity .circle {
    background-color: green;
    border-radius: 20px;
    width: 40px;
    text-align: center;
    height: 40px;
    margin: 0 auto;
    color: #fff;
    padding-top: 10px;
}

.activity .detail .detail-item {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.activity .detail .detail-item h2{
    font-size: 18px;
}

.activity .detail .detail-item p{
    color: #b4b4b4;
}

.activity .detail .detail-item .tag{
    border: 1px solid #339966;
    border-radius: 5px;
    color: #339966;
    display: inline-block;
    padding: 5px 10px;
}