.activity-detail {
    padding-top: 64px;
}

.activity-detail .activity-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
    color: #454545;
}

.activity-detail .activity-images {
    position: relative;
    height: 480px;
    margin-bottom: 20px;
}

.activity-detail .activity-images .image {
    width: 100%;
    height: 480px;
}

.activity-detail .card {
    margin-left: 0px;
    padding: 20px;
    background-color: #FFF;
    margin-bottom: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0 0 3px #CCC;
    -moz-box-shadow: 0 0 3px #CCC;
    box-shadow: 0 0 3px #CCC;
}

.activity-detail .card .card-title {
    font-size: 18px;
    font-weight: 700;
    color: #454545;
    margin: 0 0 20px;
}

.activity-detail .card .card-content pre {
    font-size: 14px;
    color: #333;
    padding: 0px 0px 10px 0px;
    line-height: 24px;
    border: none;
    background: none;
}

.activity-detail .card-sm {
    margin-left: 0px;
    padding: 20px;
    background-color: #FFF;
    margin-bottom: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0 0 3px #CCC;
    -moz-box-shadow: 0 0 3px #CCC;
    box-shadow: 0 0 3px #CCC;
    padding: 0px;
}

.activity-detail .card-sm .price {
    text-align: center;
    color: #0196da;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.activity-detail .card-sm .refund {
    font-size: 14px;
    line-height: 1em;
    color: #a5a5a5;
    text-align: center;
}

.activity-detail .route {
    font-size: 14px;
    color: #000;
}

.activity-detail .card-sm form .form-group {
    margin-bottom: 10px;
}

.activity-detail .card-sm form .form-group .control-label{
    font-size: 16px;
    font-weight: normal;
}
