/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#homeCarousel.carousel {
    height: 400px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
#homeCarousel .carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
#homeCarousel.carousel .item {
    height: 400px;
    background-color: #777;
}
#homeCarousel .carousel-inner > .item > img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 400px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

