/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 华文细黑, STHeiti, 微软雅黑, 'Microsoft YaHei', SimHei, sans-serif;
}
/* Carousel base class */
#homeCarousel.carousel {
    height: 440px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
#homeCarousel .carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
#homeCarousel.carousel .item {
    height: 440px;
    background-color: #777;
}
#homeCarousel .carousel-inner > .item > img {
    top: 0;
    left: 0;
    min-width: 100%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.background-image {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    height: 300px;
}
.content {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.detail-page {
    max-width: 960px;
    min-width: 960px;
}

.avatar {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 64px;
    height:64px;

}


/**
 * customized  timeline
 * --------------------------------------------------
 */
.detail .timeline dl {
    position: relative;
    top: 0;
    padding: 20px 0;
    margin: 0;
}
.detail .timeline dl:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    z-index: 100;
    width: 2px;
    margin-left: -1px;
    content: '';
    background-color: #ccd1d9;
}

.detail .timeline dl dt {
    position: relative;
    top: 30px;
    z-index: 200;
    width: 120px;
    padding: 3px 5px;
    margin: 0 -57px 30px;
    font-weight: normal;
    color: white;
    text-align: center;
    background-color: #aab2bd;
    border-radius: 4px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.detail .timeline dl dd {
    position: relative;
    z-index: 200;
}
.detail .timeline dl dd .circ {
    position: absolute;
    top: 40px;
    left: 0%;
    z-index: 200;
    width: 22px;
    height: 22px;
    margin-left: -11px;
    background-color: #4fc1e9;
    border: 4px solid #f5f7fa;
    border-radius: 50%;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.detail .timeline dl dd .time {
    position: absolute;
    top: 31px;
    left:0%;
    display: inline-block;
    width: 100px;
    padding: 10px 20px;
    color: #4fc1e9;
}
.detail .timeline dl dd .events {
    position: relative;
    width: 97%;
    padding: 10px 10px 0;
    margin-top: 31px;
    background-color: white;
    border-radius: 4px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.detail .timeline dl dd .events:before {
    position: absolute;
    top: 12px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 6px;
}
.detail .timeline dl dd .events .events-object {
    margin-right: 10px;
}
.detail .timeline dl dd .events .events-body {
    overflow: hidden;
    zoom: 1;
}
.detail .timeline dl dd .events .events-body .events-heading {
    margin: 0 0 10px;
    font-size: 14px;
}
.detail .timeline dl dd.pos-right .time {
    margin-left: -100px;
    text-align: right;
}
.detail .timeline dl dd.pos-right .events {
    float: right;
}
.detail .timeline dl dd.pos-right .events:before {
    left: -12px;
    border-color: transparent white transparent transparent;
}
.detail .timeline dl dd.pos-left .time {
    margin-left: 0;
    text-align: left;
}
.detail .timeline dl dd.pos-left .events {
    float: left;
}
.detail .timeline dl dd.pos-left .events:before {
    right: -12px;
    border-color: transparent transparent transparent white;
}

@media screen and (max-width: 767px) {
    .detail .timeline dl:before {
        left: 60px;
    }
    .detail .timeline dl dt {
        margin: 0 0 30px;
    }
    .detail .timeline dl dd .circ {
        left: 60px;
    }
    .detail .timeline dl dd .time {
        left: 0;
    }
    .detail .timeline dl dd.pos-left .time {
        padding: 10px 0;
        margin-left: 0;
        text-align: left;
    }
    .detail .timeline dl dd.pos-left .events {
        float: right;
        width: 84%;
    }
    .detail .timeline dl dd.pos-left .events:before {
        left: -12px;
        border-color: transparent white transparent transparent;
    }
    .detail .timeline dl dd.pos-right .time {
        padding: 10px 0;
        margin-left: 0;
        text-align: left;
    }
    .detail .timeline dl dd.pos-right .events {
        float: right;
        width: 84%;
    }
}

#hero {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#hero .slides {
    margin: 0px; padding: 0px;
}

#hero .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#hero .slide.active {
    z-index: 100;
}

#hero .slide.next {
    z-index: 90;
}

#hero .slide img {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#header {
}

#header .navbar-home {
    border: none;
    background-color: transparent;
}

#header .navbar-home a {
    color: white;
}

#header .navbar-brand-home {
    font-weight: bold;
}

.home-title {
    height: 600px;
    z-index: 300;
    position: relative;
}

.home-activity:hover {
}

.home-activity .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: black;
    opacity: 0.05;
}

.home-activity:hover .mask {
    opacity: 0.15;
}

#home-title {
    color: #fff;
    text-align: center;
    position: relative;
    height: 600px;
    z-index: 300;
}

#home-title .title {
    margin-top: 0px;
    margin-bottom: 6.25px;
    font-size: 60px;
}

#home-title .subtitle {

    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
}

#home-title .how-it-works {
    color: #fff;
    border-radius: 1px;
    border: none;
    background: rgba(255,255,255,0.5);
    font-weight: bold;
    font-size: 16px;
}

#home-title .how-it-works:hover {
    background: rgba(0,0,0,0.35);
}


/*** activity detail ***/
.activity-detail {

}

.activity-detail .activity-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
    color: #454545;
}

.activity-detail .activity-images {
    position: relative;
    height: 480px;
    margin-bottom: 30px;
}

.activity-detail .activity-images .image {
    width: 720px;
    height: 480px;
}

.activity-detail .card {
    margin-left: 0px;
    padding: 20px;
    width: 680px;
    background-color: #FFF;
    margin-bottom: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0 0 3px #CCC;
    -moz-box-shadow: 0 0 3px #CCC;
    box-shadow: 0 0 3px #CCC;
}

.activity-detail .card .card-title {
    font-size: 18px;
    font-weight: 700;
    color: #454545;
    margin: 0 0 20px;
}

.activity-detail .card .card-content pre {
    font-size: 14px;
    color: #333;
    padding: 0px 0px 10px 0px;
    font-family: '宋体';
    line-height: 24px;
    border: none;
    background: none;
}

.activity-detail .card-sm {
    margin-left: 0px;
    padding: 20px;
    background-color: #FFF;
    margin-bottom: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0 0 3px #CCC;
    -moz-box-shadow: 0 0 3px #CCC;
    box-shadow: 0 0 3px #CCC;
    padding: 0px;
}

.activity-detail .card-sm .price {
    text-align: center;
    color: #0196da;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.activity-detail .card-sm .refund {
    font-size: 14px;
    line-height: 1em;
    color: #a5a5a5;
    text-align: center;
}

.activity-detail .route {
    font-size: 14px;
    font-family: '宋体';
    color: #000;
}

.activity-detail .card-sm form .form-group {
    margin-bottom: 10px;
}

.activity-detail .card-sm form .form-group .control-label{
    font-size: 16px;
    font-weight: normal;
}