/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
/* Carousel base class */
#homeCarousel.carousel {
    height: 440px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
#homeCarousel .carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
#homeCarousel.carousel .item {
    height: 440px;
    background-color: #777;
}
#homeCarousel .carousel-inner > .item > img {
    top: 0;
    left: 0;
    min-width: 100%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

