<div class="img-upload-wrapper" ng-mouseover="show=true" ng-mouseout="show=false">
    <div ng-style="overlayStyle()" class="img-upload-overlay">
        <a href="javascript:void(0)" ng-click="removeImg()" class="glyphicon glyphicon-trash pull-right img-upload-delete"></a>
    </div>
    <div class="img-upload-form-wrapper" ng-style="imgDivStyle">
        <form class="img-upload-form" method="POST" enctype="multipart/form-data" target="{{ iframeName }}" action="{{ uploadTo }}">
            <file-upload ng-hide="imgDivStyle['background-image']" name="image" change="submit($event,files)" class="{{ buttonClass }}" accept="{{ accept }}">{{ buttonText }}</file-upload>
        </form>
    </div>
</div>
