<link href="css/nav-background.css" rel="stylesheet">

<!--<div class="container" style="background-color: #f5e79e;margin-top: 50px;padding-left: 100px;padding-right: 100px">-->
<div class="activity-detail">
    <div class="container">
        <div class="row header">
            <div class="col-xs-8">
                <h1 class="activity-title">{{activity.title}}</h1>
                <h2 class="activity-subtitle"></h2>
            </div>
        </div>

        <div class="row body">
            <div class="col-xs-8">
                <div class="activity-images">
                    <img class="image" ng-src="{{activity.image}}"/>
                </div>
                <div class="card">
                    <h3 class="card-title">活动内容</h3>
                    <div class="card-content">
                        <pre>{{activity.content}}</pre>
                    </div>
                </div>
                <div class="card route detail">
                    <h3 class="card-title">活动安排</h3>
                    <div class="card-content">
                        <div class="timeline" style="padding-left: 16px;">
                            <dl>
                                <!-- <dt>{{activity.startTime}} 开始</dt>-->
                                <dd class="{{getTimelinePosition($index)}}"  ng-repeat="journey in activity.journey">
                                    <div class="circ"></div>
                                    <div class="events">

                                        <div class="events-body">
                                            <h4 class="events-heading">{{journey.title}}</h4>
                                            <img class="events-object img-rounded" ng-src="{{journey.image}}">
                                            <p>{{journey.content}}</p>
                                        </div>
                                    </div>
                                </dd>
                                <!--    <dt>{{activity.endTime}} 结束</dt>-->

                            </dl>
                        </div>
                    </div>
                </div>
                <div class="card notice">
                    <h3 class="card-title">活动须知</h3>
                    <div class="card-content">
                        <pre>{{activity.tips}}</pre>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row card-sm" style="height: 480px;">
                    <p class="price">CNY 1000<span class="">起</span></p>
                    <p class="refund">本产品出发前15天全额退款</p>
                    <div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #c8c8c8;">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="date" class="col-sm-3 control-label">日期</label>
                                <div class="col-sm-8">

                                    <div class="input-group">
                                        <input datetimepicker type="text" id="date" class="form-control" ng-model="date" placeholder="选择日期">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="adult" class="col-sm-3 control-label">成人</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="adult">
                                        <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="child" class="col-sm-3 control-label">儿童</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="child">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 不含餐饮
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 不含住宿
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="line-height: 36px;">总价</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static"><span style="font-size: 18px;">CNY</span> <span class="price">1000</span></p>
                                    <p class="form-control-static">(1000 元/人)</p>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4" style="padding: 20px;">
                                    <button class="btn btn-warning btn-lg" style="width: 160px;">立即订购</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="row card-sm" >
                    <div style="padding: 25px;">
                        <p>{{activity.sponsor}}</p>
                        <p></p>
                        <div class="clearfix">
                            <div class="pull-left">
                                <img src="images/avatar.png" class="img-circle avatar" >
                            </div>
                            <div class="pull-left">
                                <button class="btn btn-primary" style="margin: 15px 0 0 10px;">向他咨询</button>
                            </div>
                        </div>
                        <div class="intro clearfix" >
                            <div class="pull-left" style="margin-top: 20px;">
                                他的描述
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="detail-page container " style="min-height:140px;" >
    <div class="row"  >
        <div class="col-lg-12">
            <div class="background-image" style="background-image: url('{{activity.image}}')"></div>
            <h3 class="" style="color:white;text-shadow:3px 0px rgba(1,1,1,0.4);padding-left:20px">{{activity.title}}
                <p><small><i class="fa fa-map-marker" style="color:#f5e79e">&nbsp;</i>{{activity.scenerySpot}}</small></p>
                <p><small><rating ng-model="rate" max="5" style="color:orange" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                    <span>(301)</span></small></p>
            </h3>


        </div>
    </div>


</div>

<div class="detail-page container">
    <div class="row" style="background-color: #fcf4f4;padding: 30px">
        <div class="col-lg-2 text-center">
            <img src="images/avatar.png" class="img-circle avatar" >
            <div><strong>{{activity.sponsor}}</strong></div>
            <div><span class="badge badge-primary">资深导游</span></div>

        </div>
        <div class="col-lg-7" style="color:#656d78">
           <p>
            <i class="fa fa-quote-left ">&nbsp;&nbsp;</i>{{activity.content}}
            </p>
           &lt;!&ndash; <p>
                {{activity.content}}
            </p>&ndash;&gt;
        </div>

        <div class="col-lg-3 text-center">
            <ul class="list-unstyled">
                <li><i class="fa fa-phone">&nbsp;&nbsp;</i>121121122</li>
                <li><i class="fa fa-qq">&nbsp;&nbsp;</i>121121122</li>
                <li><i class="fa fa-wechat">&nbsp;&nbsp;</i>121121122</li>
                <li><i class="fa fa-weibo">&nbsp;&nbsp;</i>121121122</li>
            </ul>
        </div>


    </div>
</div>
<div class="detail-page container" style="background-color: #ffffff">

    <div class="row">
        <div class="col-lg-8 detail" >
            <div class="text-center">
                <h3>行程安排</h3>
            </div>
            <div class=" timeline" style="padding-left: 16px;">
                <dl>
                   &lt;!&ndash; <dt>{{activity.startTime}} 开始</dt>&ndash;&gt;
                    <dd class="{{getTimelinePosition($index)}}"  ng-repeat="journey in activity.journey">
                        <div class="circ"></div>
                        <div class="events">

                            <div class="events-body">
                                <h4 class="events-heading">{{journey.title}}</h4>
                                <img class="events-object img-rounded" ng-src="{{journey.image}}">
                                <p>{{journey.content}}</p>
                            </div>
                        </div>
                    </dd>
                &lt;!&ndash;    <dt>{{activity.endTime}} 结束</dt>&ndash;&gt;

                </dl>
            </div>
        </div>
        <div class="col-lg-4 text-center" style="padding-top: 20px">
            <div class="pricing" >
                <ul >
                    <li class="unit price-success active" style="max-width: 280px">
                        <div class="price-title" >
                            <h3><i class="fa fa-rmb">&nbsp;</i>{{activity.fee}}</h3>
                            <p>每人</p>
                        </div>
                        <div class="price-body">

                            <p><h4>费用包含</h4></p>
                            <ul class="list-divider">
                                <li>市区到酒店接送</li>
                                <li>泸沽湖景点门票</li>
                                <li>在祖母家晚餐费用</li>
                            </ul>
                        </div>
                        <div class="price-foot">
                            <button type="button" class="btn btn-success">马上预订</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <h3>活动须知</h3>
        </div>
        <div class="col-lg-12" >

            <p>
                {{activity.tips}}
            </p>
        </div>
    </div>

</div>-->

<<!--div class="detail-page container" style="margin-bottom: 30px;background-color: #ffffff">



</div>-->
