<carousel id="homeCarousel" class="carousel" interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;" />
        <div class="carousel-caption">
            <h1>{{slide.text}}</h1>
            <p></p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">{{slide.slogon}}</a></p>
        </div>
    </slide>
</carousel>
<div class="container" style="background-color: #ffffff">
    <h3>草原天路-探索梦的起点
        <p><small>fdfdfdfdfdfdfdefd</small></p>
        <p><small><i class="fa fa-quote-left "></i>fdfdfd</small></p>
    </h3>


</div>

