<nav class="navbar navbar-home" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-home" href="javascript: void(0);">麦子旅行</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript: void(0);">注册</a></li>
            <li><a href="javascript: void(0);">登录</a></li>
        </ul>
    </div>
</nav>
<div class="container" style="">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-3 control-label">标题</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-model="activity.title"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">活动摘要</label>
                <div class="col-md-9">
                    <textarea class="form-control" ng-model="activity.content"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">活动亮点</label>
                <div class="col-md-9">
                    <textarea class="form-control" ng-model="activity.highlight"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">接待人数</label>
                <div class="col-md-9">

                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="activity.acceptablePersons">
                        <span class="input-group-addon">人</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">接待时间</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="activity.availaleTime"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">费用</label>
                <div class="col-md-9">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-cny"></i></span>
                        <input type="text" class="form-control" ng-model="activity.fee">
                        <span class="input-group-addon">每人</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">费用包含</label>
                <div class="col-md-9">

                    <textarea class="form-control" ng-model="activity.feeInclude"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">费用不含</label>
                <div class="col-md-9">

                    <textarea class="form-control" activity.feeExclude></textarea>
                </div>
            </div>

            <hr />
            <div class="form-group">
                <label class="col-md-3 control-label">行程安排</label>
                <div class="col-md-9">

                    <textarea class="form-control" ng-model="activity.journey"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">温馨提示</label>
                <div class="col-md-9">

                    <textarea class="form-control" ng-model="activity.tips"></textarea>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="dropdown">确定</button>




        </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
