<div style="min-width: 1024px;">
    <div>
        <header id="header" style="">
            <nav class="navbar navbar-default navbar-home" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand navbar-brand-home" href="javascript: void(0);">麦子旅行</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript: void(0);">注册</a></li>
                        <li><a href="javascript: void(0);">登录</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>

    <div>
        <div image-slide id="hero">
            <ul class="list-unstyled slides">
                <li ng-repeat="slide in slides" class="slide" ng-class="{'active': $first}" style="display: block;">
                    <img ng-src="{{slide.image}}" style=""/>
                </li>
            </ul>
        </div>
        <div id="home-title" class="container">
            <div style="margin: 200px auto;">
                <h1 class="title">天涯若比邻</h1>
                <div class="subtitle">全球30个国家的当地人为您带来独特的旅行体验</div>
                <a href="javascript: void(0);" class="btn btn-lg btn-default how-it-works">如何使用麦子旅行</a>
            </div>
        </div>
    </div>

    <div style="background-color: #fff;">
        <div class="container">
            <div id="weibo-section" class="text-center">
                <div class="row">
                    <div class="col-xs-12">
                        <div style="margin: 50px 0px 32px 0px; text-align: center;">
                            <h2 class="strong" style="font-size: 32px;">
                                微博上最热门的帖子
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 50px;">
                    <div class="col-xs-3">
                        <div class="media-photo media-round">
                            <a href="/users/show/5518990" class="clickable-weibo-content"
                               data-content-type="user-photo">
                                <img alt="Original"
                                     src="https://a0.muscache.com/ic/users/5518990/profile_pic/1403889062/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70"
                                     class="img-circle" />
                            </a>
                        </div>
                        <h4>
                            卢卢和我们分享她住船屋的故事
                        </h4>

                        <p>"你永远也无法预计ColorfulWorld会带给你什么，很多时候，它带给我的惊喜就好像魔幻世界所能做到的那样。"</p>

                        <p><span class="weibo-logo"></span></p>

                    </div>
                    <div class="col-xs-6">
                        <div class="media-photo">
                            <a href="/s/Sausalito--CA--United-States?keywords=houseboat" class="clickable-weibo-content"
                               data-content-type="large-photo" target="_blank"><img
                                    alt="Pixel-258c0301c93c84bbf77bcef5fccab62c"
                                    data-original="https://a1.muscache.com/airbnb/static/landing_pages/c1/weibo-large-224b7110ac40ad0c9c79a7d61fa9af14.jpg"
                                    height="325"
                                    src="https://a1.muscache.com/airbnb/static/landing_pages/c1/weibo-large-224b7110ac40ad0c9c79a7d61fa9af14.jpg"
                                    width="485" style="display: inline;"></a>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="media-photo" style="margin-bottom: 25px;">
                            <a href="/s/Sausalito--CA--United-States?keywords=houseboat"
                               class="clickable-weibo-content" data-content-type="small-photo" target="_blank"><img
                                    alt="Pixel-258c0301c93c84bbf77bcef5fccab62c"
                                    data-original="https://a1.muscache.com/airbnb/static/landing_pages/c1/weibo-small1-6b8876d6e97adc8b6171297755be3555.jpg"
                                    height="150"
                                    src="https://a1.muscache.com/airbnb/static/landing_pages/c1/weibo-small1-6b8876d6e97adc8b6171297755be3555.jpg"
                                    width="230" style="display: inline;"></a>
                        </div>
                        <div class="media-photo">
                            <a href="/s/Sausalito--CA--United-States?keywords=houseboat" class="clickable-weibo-content"
                               data-content-type="small-photo" target="_blank"><img
                                    alt="Pixel-258c0301c93c84bbf77bcef5fccab62c"
                                    data-original="https://a1.muscache.com/airbnb/static/landing_pages/c1/weibo-small2-6579e31a7e556366e3f9a31b62fabfb7.jpg"
                                    height="150"
                                    src="https://a1.muscache.com/airbnb/static/landing_pages/c1/weibo-small2-6579e31a7e556366e3f9a31b62fabfb7.jpg"
                                    width="230" style="display: inline;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: #edefed; margin-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div style="margin: 50px 0px 32px 0px; text-align: center;">
                        <h2 class="strong" style="font-size: 32px;">
                            探索世界
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px">
                <div class="col-xs-8" >
                    <div class="panel">
                        <a href="#" class="">
                            <div style="background-image: url('images/bj1.png');">
                                <div style="width:100%; top: 0px; left: 0px; bottom: 0px; right: 0px; display: table;">
                                    <div style="height: 340px; display: table-cell; vertical-align: middle;  text-align: center; color: white; font-size: 24px; width: 100%; padding: 0px 50px;">
                                        <h2><strong>北京</strong></h2>
                                    </div>
                                </div>
                                <div class="mask" style="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4" >
                    <div class="panel">
                        <a href="#/activity/{{activity.id}}" class="">
                            <div style="width:100%;height:340px;display: table;background-image: url('images/sanlitun.png');">
                                <div class="text-center" style="padding-top: 100px">
                                    <img src="images/avatar2.jpg" class="img-circle avatar" >
                                    <p ><h4 style="color:white">感受北京缠绵的夜色</h4></p>
                                    <p style="color:white">北京</p>
                                </div>

                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row" >
                <!--<div class="col-xs-4" ng-repeat="activity in activities" >
                    <div class="panel">
                        <a href="#/activity/{{activity.id}}" class="">
                            <div style="width:100%;height:340px;display: table;background-image: url('{{activity.image}}');">
                                <div class="text-center" style="padding-top: 100px;padding-left: 30px;padding-right: 30px">
                                    <img src="images/avatar2.jpg" class="img-circle avatar" >
                                    <p ><h4 style="color:white">{{activity.title}}</h4></p>
                                    <p style="color:white">{{activity.scenerySpot}}</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>-->
                <div class="col-xs-4" >
                    <div class="panel">
                        <a href="#/city/lijiang" class="">
                            <div style="width:100%;height:340px;display: table;background-image: url('images/lijiang.png');">
                                <div class="text-center" style="padding-top: 100px;padding-left: 30px;padding-right: 30px">

                                    <p ><h2 style="color:white;text-shadow:3px 0px rgba(1,1,1,0.4)">丽江</h2></p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-4" >
                    <div class="panel">
                        <a href="#/city/hangzhou" class="">
                            <div style="width:100%;height:340px;display: table;background-image: url('images/xihu.png');">
                                <div class="text-center" style="padding-top: 100px;padding-left: 30px;padding-right: 30px">

                                    <p ><h2 style="color:white;text-shadow:3px 0px rgba(1,1,1,0.4)">杭州</h2></p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4" >
                    <div class="panel">
                        <a href="#/city/guilin" class="">
                            <div style="width:100%;height:340px;display: table;background-image: url('images/guilin.png');">
                                <div class="text-center" style="padding-top: 100px;padding-left: 30px;padding-right: 30px">

                                    <p ><h2 style="color:white;text-shadow:3px 0px rgba(1,1,1,0.4)">桂林</h2></p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>

    <!--
    <carousel id="homeCarousel" class="carousel" interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;"/>

            <div class="carousel-caption">
                <h1>{{slide.text}}</h1>

                <p></p>

                <p><a class="btn btn-lg btn-primary" href="#" role="button">{{slide.slogon}}</a></p>
            </div>
        </slide>
    </carousel>


    <div class="container">

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>热门体验 - 中国</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" ng-repeat="activity in activities">
                        <a href="#/activity/{{activity.id}}">
                            <div class="thumbnail" style="height:380px">
                                <img class="img-rounded" ng-src="{{getImageThumbnail(activity)}}" style="height:200px">

                                <div class="caption ">
                                    <h5 class="">{{activity.title}}</h5>
                                    <rating ng-model="rate" max="5" style="color:orange" readonly="isReadonly"
                                            on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                                    <span>(301 reviews)</span>

                                    <p style="color:silver">{{activity.title}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>精彩瞬间</h4>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="jumbotron">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item next left">
                                        <img src="images/location_img-57-2457145156-88.jpg">

                                        <div class="media-list" style="background-color: #c0a16b">
                                            <div class="media">
                                                <span class="pull-left">10月12</span>

                                                <div class="media-body">
                                                    北京color run
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="images/location_img-57-2457145156-88.jpg">

                                        <div>dfdf</div>
                                    </div>
                                    <div class="item active left">
                                        <img src="images/location_img-57-2457145156-88.jpg">

                                        <div>dfdf</div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>


    </div>-->
</div>