<header style="background:url('images/header_list.jpg') center center no-repeat;height:445px;">
    <nav class="navbar navbar-home" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-brand-home" href="javascript: void(0);">麦子旅行</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript: void(0);">注册</a></li>
                <li><a href="javascript: void(0);">登录</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" id="home-title">
        <div class="row text-center" style="padding-top: 80px">

                <div class="col-xs-3 col-xs-offset-1" style="border-right: 1px solid rgba(255,255,255,.2); "><h1 style="font-size: 78px;">丽江</h1></div>
                <div class="col-xs-8" style="text-align: left;">
                    <!--<div class="subtitle" style="color: rgba(255,255,255,.95);">丽江，雪山脚下的柔软时光</div>-->
                    <h4 style="color: rgba(255,255,255,.95);">丽江，雪山脚下的柔软时光</h4>
                    <!--<div class="description" style="font:12px/1.5 tahoma,arial,宋体,sans-serif;color: rgba(255,255,255,.65)">丽江就是那样一个地方，虽然人人都说烂掉了没意思，但你没事还是会拿出来咀嚼挂念，想再回去的地方。<br/>
                        丽江就是丽江，近或远，都只是多数人心里的一个梦。美好或绝望。</div>-->
                    <p style="font:12px tahoma,arial,宋体,sans-serif;color: rgba(255,255,255,.65)">丽江就是那样一个地方，虽然人人都说烂掉了没意思，但你没事还是会拿出来咀嚼挂念，想再回去的地方。<br/>
                        丽江就是丽江，近或远，都只是多数人心里的一个梦。美好或绝望。</p>
                </div>
        </div>
    </div>
</header>



<div class="container" style="padding-top: 64px">
    <div class="row">
        <div class="col-md-9">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-6"  ng-repeat="activity in activities" >
                    <a href="#/activity/{{activity.id}}" >
                    <div class="thumbnail" style="min-height: 350px;padding: 0px !important;">

                        <img class="img-responsive" src="{{activity.image}}">
                        <div class="caption" >
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="images/avatar2.jpg" style="width:48px;height:48px" class="img-circle" />
                                    <span class="badge badge-primary">自由职业</span>
                                </a>
                                <div class="media-body">
                                    <h1 class="media-heading">{{activity.title}}</h1>
                                    <rating ng-model="rate" max="5" readonly="isReadonly" style="color:orangered" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>(401 review)
                                </div>
                            </div>
                            <p style="color:#82888a">{{getActivityContent(activity.content)}}</p>

                        </div>
                    </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">机票预订</h3>
                </div>
                <div class="panel-body">
                    无最新内容
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">酒店预订</h3>
                </div>
                <div class="panel-body">
                    无最新内容
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">达人秀</h3>
                </div>
                <div class="panel-body">
                    无最新内容
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">动态</h3>
                </div>
                <div class="panel-body">
                    无最新内容
                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>© Company 2014</p>
    </footer>
</div>
