<div class="modal-header ">
    <h3 class="modal-title">活动编辑</h3>
</div>
<div class="modal-body">


<div role="form" name="activityForm">

<div class="row form-group">
    <div class="col-lg-12">
        <label>标题 </label>
        <input class="form-control" ng-disabled="isDisabled()" ng-model="activity.title" required>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <label>图片 </label>

        <form ng-controller="ActivityImageCtrl" method="POST" enctype="multipart/form-data" data-file-upload="options">

            <span class="btn btn-success fileinput-button">
                <i class="fa fa-plus"></i>
                <span>添加图片...</span>
                <input type="file" name="images" multiple>
            </span>

            <div class="row">
                <div class="col-lg-4" ng-repeat="file in queue">
                    <div class="preview" data-file-upload-preview="file"></div>
                    <button ng-click="remove($index)">删除</button>

                </div>

            </div>

        </form>
    </div>

</div>


<div class="row form-group">
    <div class="col-lg-6">
        <label>开始</label>

        <div class="input-append date" data-date="12-02-2012"
             data-date-format="yyyy-mm-dd">
            <input ng-disabled="isDisabled()" class="form-control span2"
                   b-datepicker placeholder="startTime" ng-model="activity.startTime"
                   type="text" id="startTime" required>
        </div>
    </div>

    <div class="col-lg-6">
        <label>结束</label>

        <div class="input-append date" data-date="12-02-2012"
             data-date-format="yyyy-mm-dd">
            <input ng-disabled="isDisabled()" class="form-control span2"
                   b-datepicker placeholder="endTime" ng-model="activity.endTime"
                   type="text" id="endTime" required>
        </div>

    </div>
</div>

<div class="row form-group">
    <div class="col-lg-6">

        <label> 出发地</label> <input
            ng-disabled="isDisabled()" class="form-control"
            placeholder="多个出发地，以逗号分隔" ng-model="activity.depart" type="text"
            id="from" required>

    </div>
    <div class="col-lg-6">

        <label>目的地</label> <input
            ng-disabled="isDisabled()" class="form-control"
            placeholder="多个目的地以逗号分隔" ng-model="activity.destination"
            type="text" id="to" required>

    </div>

</div>

<div class="row form-group">
    <div class="col-lg-12">

        <label> 景点</label> <input
            ng-disabled="isDisabled()" class="form-control"
            placeholder="多个景点用逗号分隔" ng-model="activity.scenerySpot" type="text"
            id="senerySpot">

    </div>


</div>

<div class="row form-group">
    <div class="col-lg-12">
        <label> 联系方式</label> <input
            ng-disabled="isDisabled()" class="form-control" placeholder="联系方式"
            ng-model="activity.contact" type="text" id="">

    </div>
</div>

<div class="row form-group">
    <div class="col-lg-6">
        <label>主办方/商家</label> <input
            ng-disabled="isDisabled()" class="form-control" placeholder="主办方/商家"
            ng-model="activity.sponsor" type="text">

    </div>

    <div class="col-lg-6">
        <label>费用</label> <input
            ng-disabled="isDisabled()" class="form-control" placeholder="费用,免费用0表示"
            ng-model="activity.fee" type="text">

    </div>

</div>
<div class="row form-group">
    <div class="col-lg-12">
        <label>活动介绍</label>
        <textarea
                ng-disabled="isDisabled()" rows="6" class="form-control" name="activity_content"
                placeholder="活动介绍" ng-model="activity.content" required>
        </textarea>

        <p class="help-block">填入活动介绍内容200字以内.</p>
    </div>


</div>
<hr>


<div class="row" ng-repeat="journey in activity.journey">
    <div class="col-lg-12">
        <div class="panel panel-yellow">
            <div class="panel-heading">活动安排 - {{journey.title}}
                <div class="pull-right">
                    <label class="btn btn-danger btn-xs" ng-click="removeJourney($index)"><i
                            class="fa fa-trash"></i>&nbsp;删除</label>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>标题</label> <input
                        ng-disabled="isDisabled()" class="form-control" placeholder="行程标题"
                        ng-model="journey.title" type="text">
                    <label>图片</label>

                    <form ng-controller="ActivityJourneyImageCtrl" method="POST" enctype="multipart/form-data"
                          data-file-upload="options">
                            <span class="btn btn-success fileinput-button">
                                <i class="fa fa-plus"></i>
                                <span>添加图片...</span>
                                <input type="file" name="images">
                            </span>

                        <div class="row">
                            <div class="col-lg-4" ng-repeat="file in queue">
                                <div class="preview" data-file-upload-preview="file"></div>
                                <button ng-click="remove($index)">删除</button>
                            </div>
                        </div>

                    </form>
                    <label>描述</label>
                    <textarea
                            ng-disabled="isDisabled()" rows="6" class="form-control" name="activity_content"
                            placeholder="行程安排描述" ng-model="journey.content" required>
                    </textarea>

                    <p class="help-block">填入行程安排描述内容200字以内.</p>
                </div>
            </div>

        </div>


    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <label class="btn btn-primary" ng-click="addJourney()">添加活动安排</label>
        </div>


    </div>

</div>

<hr>
<div class="row form-group">
    <div class="col-lg-12">
        <label>活动须知</label>
        <textarea
                ng-disabled="isDisabled()" rows="6" class="form-control"
                placeholder="活动须知" ng-model="activity.tips" required>
        </textarea>

        <p class="help-block">填入活动须知内容200字以内.</p>
    </div>


</div>

</div>
</div>
<div class="modal-footer">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class="btn btn-primary" ng-click="save(activity)">保存</button>
    <button class="btn btn-warning" ng-click="cancel()">放弃</button>
</div>
<script type="text/javascript">


</script>