<div class="row">
	<div class="col-lg-12">
		<div class="page-header ">
			<span class="h1">标签管理</span>

		</div>
	</div>
</div>

<div class="row">
	

	<div class="col-lg-6">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> 标签列表
			</div>
			<div class="panel-body">
				<p>
				<form role="form" style="margin: 10px" ng-submit="submit">
					<div class="row form-group">
						<div class="col-lg-6">
							<label>标签</label> <input class="form-control" ng-model="tag.tag">
						</div>
						<div class="col-lg-6">
							<label>类目</label> 
							<select class="form-control" placeholder="type"
								ng-model="tag.category" >
								<option  ng-repeat="tagCategory in tagCategories" value="{{tagCategory.id}}" >{{tagCategory.category}}</option>
							</select>
						</div>
					</div>


					<div class="row">
						<div class="col-lg-6 form-group"></div>

						<div class="col-lg-6">
							<button type="button" class="btn btn-primary"
								ng-click="save(tag)">保存</button>
							<button type="reset" class="btn btn-primary" ng-click="clean()">重置</button>
						</div>

					</div>
				</form>	
				</p>
			</div>
			<div class="table-responsive" style="margin: 20px">
				<table class="table table-striped  table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>#</th>
							<th>标签</th>
							<th>类目ID</th>
							<th>类目文本</th>
							<th>操作</th>

						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tag in tags" ng-click="">
							<td>{{tag.id}}</td>
							<td>{{tag.tag}}</td>
							<td>{{tag.category.id}}</td>
							<td>{{tag.category.category}}</td>
							<td><button class="btn btn-primary" ng-click="deleteTag(tag)">删除</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> 标签类目
			</div>
			<div class="panel-body">
				<p>
				<form role="form" style="margin: 10px" ng-submit="submit">
					<div class="row form-group">
						<div class="col-lg-12">
							<label>类目</label> <input class="form-control" ng-model="tagCategory.category">
						</div>
					</div>


					<div class="row">
						<div class="col-lg-6 form-group"></div>

						<div class="col-lg-6">
							<button type="button" class="btn btn-primary" ng-click="saveCategory(tagCategory)">保存</button>
							<button type="button" class="btn btn-primary" ng-click="cleanCategory()">重置</button>
						</div>

					</div>
				</form>
				</p>
			</div>
			
			<div class="table-responsive" style="margin: 20px">
				<table class="table table-striped  table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>#</th>
							<th>类目文本</th>
							<th>操作</th>

						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tagCategory in tagCategories" ng-click="saveTagCategory(tagCategory)">
							<td>{{tagCategory.id}}</td>
							<td>{{tagCategory.category}}</td>
							<td><button class="btn btn-primary" ng-click="deleteTagCategory(tagCategory)">删除</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</div>
</div>