<div id="footer">
    <div class="container">
        <div class="row">
            <ul class="footer-items list-inline">
                <li class="footer-item">
                    <a class="icon">新手上路</a>
                </li>
                <li class="footer-item">
                    <a class="icon">关于我们</a>
                </li>
                <li class="footer-item">
                    <a class="icon">联系我们</a>
                </li>
                <li class="footer-item">
                    <a class="icon">服务协议</a>
                </li>
                <li class="footer-item">
                    <a class="icon">免责声明</a>
                </li>
                <li class="footer-item">
                    <a class="icon">关注我们</a>
                </li>
            </ul>
        </div>
        <p class="footer-copyright">
            Copyright©2014 <a href="{{basePath}}"> maizi </a> 版权所有
        </p>
    </div>
</div>
