<div class="scrollable activity" style="background-color: #f6f6f6;">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item media"
                 style="background-image: url('{{activity.images[0]}}');background-size:cover;height:200px;">

                <div style="position: absolute; bottom: 0px;color: #ffffff;">
                    <h3>{{activity.title}}</h3>
                    <h5>{{activity.address}}</h5>
                </div>
                <div style="position: absolute; bottom: 0px; right:20px; color: #ffffff;">
                    <h2>￥{{activity.fee}}</h2>
                </div>
            </div>

            <div class="list-group-item media" style="background: transparent;">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-users"></i>
                        <span>{{activity.scale}}</span>
                    </div>
                    <div class="col-xs-4">
                        <i class="fa fa-clock-o"></i>
                        <span>{{activity.startTime | datetimeFormat : 'HH:hh'}} ~ {{activity.endTime | datetimeFormat : 'HH:hh'}}</span>
                    </div>
                    <div class="col-xs-4">
                        <i class="fa fa-calendar"></i>
                        需要预订
                    </div>

                </div>
            </div>

            <div class="list-group-item media" style="background: transparent;padding: 10px 25px;">
                <div class="row detail">
                    <div class="col-xs-12 detail-item">
                        <h2>值得玩指数</h2>

                    </div>
                    <div class="col-xs-12 detail-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <h2>活动地址</h2>
                                <p>{{activity.address}}</p>
                            </div>
                            <div class="col-xs-2">
                                <i class="fa fa-map-marker fa-4x"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 detail-item">
                        <h2>活动内容</h2>
                        <p>{{activity.abstractContent}}</p>
                        <div class="pull-right"><span class="badge" style="">●●●</span></div>
                    </div>
                    <div class="col-xs-12 detail-item">
                        <h2>活动标签</h2>
                        <div>
                            <div class="tag" ng-repeat="tag in activity.tags.split(',')">{{tag}}</div>
                        </div>
                    </div>
                    <div class="col-xs-12 detail-item">
                        <h2>参与过的伙伴这么说</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>