<div class="scrollable activity" style="background-color: #f6f6f6;">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item media"
                 style="background-image: url('{{activity.images[0]}}');background-size:cover;height:200px;">

                <div style="position: absolute; bottom: 0px;color: #ffffff;">
                    <h3>{{activity.name}}</h3>
                    <h5>{{activity.location}}</h5>
                </div>
                <div style="position: absolute; bottom: 0px; right:20px; color: #ffffff;">
                    <h2>￥{{activity.price_adult}}</h2>
                </div>
            </div>

            <div class="list-group-item media" style="background: transparent;">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-users"></i>
                        <span>150-200</span>
                    </div>
                    <div class="col-xs-4">
                        <i class="fa fa-clock-o"></i>
                        <span>18:00-21:00</span>
                    </div>
                    <div class="col-xs-4">
                        <i class="fa fa-calendar"></i>
                        需要预订
                    </div>

                </div>
            </div>

            <div class="list-group-item media" style="background: transparent;padding: 10px 25px;">
                <div class="row detail">
                    <div class="col-xs-12 detail-item">
                        <h2>值得玩指数</h2>

                    </div>
                    <div class="col-xs-12 detail-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <h2>活动地址</h2>
                                <p>丽江市大研古镇四方街广场</p>
                            </div>
                            <div class="col-xs-2">
                                <i class="fa fa-map-marker fa-4x"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 detail-item">
                        <h2>活动内容</h2>
                        <p>参与火把节的选人仪式，头梳英雄结，佩带英雄带和宝剑，身披黑色羊毛斗篷，手牵骏马参加祭神仪式。在祭神广场进行集会，唱歌跳舞，观看赛马、斗牛、摔跤。</p>
                        <div class="pull-right"><span class="badge" style="">●●●</span></div>
                    </div>
                    <div class="col-xs-12 detail-item">
                        <h2>活动标签</h2>
                        <div>
                            <div class="tag">当地特色</div>
                            <div class="tag">民族风情</div>
                        </div>
                    </div>
                    <div class="col-xs-12 detail-item">
                        <h2>参与过的伙伴这么说</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>