<div class="scrollable calender" style="background-color: #2f3550;">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item media"
                 style="background-image: url('{{activity.images[0]}}');background-size:cover;height:200px;">

                <div style="position: absolute; bottom: 0px;color: #ffffff;">
                    <h3>{{activity.name}}</h3>
                    <h5>{{activity.location}}</h5>
                </div>
                <div style="position: absolute; bottom: 0px; right:20px; color: #ffffff;">
                    <h2>￥{{activity.price_adult}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>