<div class="scrollable home">
    <div class="scrollable-content">

        <div class="list-group">
            <div class="list-group-item media image"
                 ng-repeat="activity in activities"
                 ng-click="goToDetail(activity.id)"
                 style="background-image: url('http://115.28.129.120{{activity.images}}');background-size:cover;height:200px;">

                <div class="description-bg">
                </div>
                <div class="description">
                    <div style="position: absolute; bottom: 0px;color: #ffffff;">
                        <h3>{{activity.title}}</h3>
                        <h5>{{activity.address}}</h5>
                    </div>
                    <div style="position: absolute; bottom: 0px; right:20px; color: #ffffff;">
                        <h2>￥{{activity.fee}}</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a href="#/route1" class="btn btn-navbar btn-icon-only">离我最近</a>
        <a href="#/route2" class="btn btn-navbar btn-icon-only">人气最高</a>
        <a href="#/route2" class="btn btn-navbar btn-icon-only">分类查看</a>
    </div>
</div>
